/**
* WienPro font-face declarations
*/
@font-face {
    font-family: 'WienPro';
    src: url('../fonts/Wien-Pro/WienPro-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'WienPro';
    src: url('../fonts/Wien-Pro/WienPro.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'WienPro';
    src: url('../fonts/Wien-Pro/WienPro-Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'WienPro';
    src: url('../fonts/Wien-Pro/WienPro-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'WienPro';
    src: url('../fonts/Wien-Pro/WienPro-Oblique-Medium.otf') format('opentype');
    font-style: italic;
    font-weight: 500;
}