/* Colors */
$sf-green: #7a8762;
$sf-dark-green: #1f3d34;
$sf-light-green: #f0f4cf;
$sf-white: #ffffff;
$sf-yellow: #f6c329;
$sf-red: #d19772;

/* Measurements */
$header-height: 100px;
$header-height-mobile: 90px;