#contact-us-map-container {
    width: 100%;
    height: 500px;
}

#contact-us-body-container {
    background-color: $sf-green;
    padding: 24px 42px;
}

#contact-us-body-title {
    color: $sf-white;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    font-style: italic;
    margin-bottom: 24px;

    span {
        display: block;
        font-size: 28px;
        font-weight: 300;
        font-style: normal;
    }
}

#contact-us-body-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 28px;
}

#contact-us-body-content-form {
    width: 50%;
    padding-right: 20px;
}

#contact-us-form {
    display: flex;
    flex-direction: column;

    label {
        color: $sf-white;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 4px;

        .contact-us-form-required-text {
            color: $sf-light-green;
        }
    }

    input.contact-us-form-input,
    textarea.contact-us-form-textarea {
        margin-bottom: 20px;
        background-color: transparent;
        border: 1px solid $sf-light-green;
        max-width: 580px;
        height: 50px; /* Adjust height as needed */
        color: #fff;
        font-family: WienPro, sans-serif;
        font-size: 20px;
        padding: 5px;

        &:focus-visible {
            outline: none;
            border: 2px solid $sf-light-green;
        }
    }

    input.contact-us-form-submit {
        width: 80px;
        height: 44px;
        background-color: $sf-light-green;
        border: 0;
        cursor: pointer;
        font-family: WienPro, sans-serif;
        font-weight: 300;
        font-size: 16px;
        text-transform: uppercase;
        color: $sf-dark-green;
    }
}

#contact-us-body-content-contacts {
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    padding-left: 20px;
}

#contact-us-body-content-contacts-address a {
    color: #fff;
}

#contact-us-body-content-contacts-hours {
    display: flex;
    margin-top: 20px;
}

#contact-us-body-content-contacts-hours-text {
    width: 64px;
}

#contact-us-body-content-contacts-hours-days,
#contact-us-body-content-contacts-hours-times {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

#contact-us-body-content-contacts-phone {
    display: flex;
    margin-top: 20px;
}

#contact-us-body-content-contacts-phone-text {
    width: 64px;
}

#contact-us-body-content-contacts-phone-number {
    margin-left: 16px;
    
    a {
        color: #fff;
    }
}

#contact-us-body-content-contacts-socials {
    display: flex;
    margin-top: 20px;
}

#contact-us-body-content-contacts-socials-text {
    width: 64px;
}

#contact-us-body-content-contacts-socials-icons {
    display: flex;
    margin-left: 16px;

    a {
        text-decoration: none;
        margin-right: 12px;

        i {
            color: $sf-dark-green;
            background-color: $sf-light-green;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 768px) {
    
    #contact-us-map-container {
        height: 220px;
    }

    #contact-us-body-title {
        font-size: 28px;
    
        span {
            font-size: 20px;
        }
    }

    #contact-us-body-container {
        padding: 24px 20px;
    }

    #contact-us-body-content {
        flex-direction: column;
        margin-top: 24px;
    }

    #contact-us-body-content-form {
        width: 100%;
        padding-right: 0px;
        margin-bottom: 24px;
    }

    #contact-us-form {

        input.contact-us-form-input,
        textarea.contact-us-form-textarea {
            max-width: 100%;
        }

        input.contact-us-form-submit {
            width: 100%;
            height: 50px;
        }
    }

    #contact-us-body-content-contacts {
        padding-left: 0px;
        font-size: 16px;
    }
}